.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 20px ;

}
.wrapper {
  background: transparent;
  border: 2px solid rgba(255,255,255,.2);
  backdrop-filter: blur(30px);
   box-shadow: 0 0 10px rgba(255, 255, 255, 0.225);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  z-index: 1;
}
.file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #61dafb;
  background-color: white;
  height: 200px;
  width: 200px;
  border-radius: 8px;
  font-size: 64px;
  font-weight: bold;
  color: #61dafb;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.upload {
  display: none; /* Gizli input */
  z-index: 1;
}

.file-upload:hover {
  background-color: #e6f7ff;
  z-index: 1;
}

.contributors {
  text-align: center;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  z-index: 1;
}

.contributors p {
  margin: 0 0 20px 0;
  font-size: 16px;
  line-height: 1.5;
  z-index: 1;
}

/* Link Stili */
.contributors a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  z-index: 1;
}

.contributors a:hover {
  color: #0056b3;
  z-index: 1;
}


.contributors button {
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
  z-index: 1;
}

.contributors button:hover {
  background: #0056b3;
  z-index: 1;
}

.dvd-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

#dvd-image {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  z-index: 1;
}

.App::before,
.App::after {
  content: '';
  position: absolute;
  opacity:0.8
}


.App::before {
  background: var(--third-glow);
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  margin-left: -200px;
  filter:blur(90px);  
  top: calc(50vh - 50vw/2);
  left: calc(50vw );
  animation: animateBefore 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
  z-index: -10;
}

.App::after {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 500px;
  height: 700px;
  filter:blur(90px);
  top: calc(50vh - 50vw/2);
  left: calc(50vw - 50vw/2);
  animation: animateAfter 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
 
}

@keyframes animateBefore {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(200px) scale(0.8);

  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animateAfter{
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-250px) scale(1.2);

  }
  100% {
    transform: translateX(0);
  }
}


.github-corner svg {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-25deg);
    }

    40% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-25deg);
    }

    80% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}